<div class="container m-4">
<h1 class="display-6 text-center mb-3">Services</h1>

<%= form_with url: services_path, method: :get, local: true do %>
  <input
    type="text"
    name="search"
    value="<%= @search %>"
    placeholder="Search by service"
    aria-label="Search by service">
  <button type="submit">Search</button>
<% end %>

<% if @services.any? %>
  <p><%= @services.total_count %> services found</p>
    <ul class="d-inline-block text-start">
        <% @services.each do |s| %>
      <li><%= link_to s.name, s %> - <%= s.category %></li>
    <% end %>
   </ul>
  <nav class="d-flex justify-content-center my-3 kami">
  <%= paginate @services %> <!-- add navigation -->
  </nav>
<% else %>
  <p>No services found.</p>
<% end %>
</div>
