<h1><%= @facility.name %></h1>
<p><strong>Address:</strong> <%= @facility.address %></p>
<p><strong>City:</strong> <%= link_to @facility.city.name, @facility.city %></p>
<p><strong>Latitude:</strong> <%= @facility.lat %></p>
<p><strong>Longitude:</strong> <%= @facility.lng %></p>

<p><%= link_to "Back to Facilities", facilities_path %></p>
