<h1><%= @city.name %>, <%= @city.province %></h1>

<p><strong>Country:</strong> <%= @city.country %></p>

<p><strong>Coords:</strong> <%= @city.lat %>, <%= @city.lng %></p>


<p><%= link_to "Back to Cities", cities_path %></p>